/ThirteenthCourse/nbproject/private/
/ThirteenthCourse/build/
/FourteenthCourse/nbproject/private/
/FourteenthCourse/build/
/InheritProject/nbproject/private/
/InheritProject/build/
/EighthCourse/dist/
/FivteenthCousre/nbproject/private/
/FivteenthCousre/build/
/PolymorphismTest/nbproject/private/
/PolymorphismTest/build/
/AbstractTest/nbproject/private/
/AbstractTest1/nbproject/private/
/AbstractTest1/build/
/InterfaceTest/nbproject/private/
/InterfaceTest/build/